appdirs==1.4.3
awscli==1.16.117
backcall==0.1.0
beautifulsoup4==4.7.1
boto3==1.9.107
botocore==1.12.107
bottlenose==1.1.8
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
colorama==0.3.9
confuse==0.5.0
decorator==4.3.2
docutils==0.14
EbookLib==0.17.1
fcache==0.4.7
filecache==0.77
gprof2dot==2017.9.19
graphviz==0.10.1
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
isbnlib==3.9.5
jedi==0.13.2
jmespath==0.9.4
joblib==0.13.1
langdetect==1.0.7
lazy==1.4
lxml==4.3.1
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.8
ptyprocess==0.6.0
pyasn1==0.4.5
pycallgraph==1.0.1
Pygments==2.3.1
pyprof2calltree==1.4.4
PySide2==5.12.1
python-amazon-simple-product-api==2.2.11
python-dateutil==2.8.0
pyxdg==0.26
PyYAML==5.4
requests==2.21.0
rsa==3.4.2
s3transfer==0.2.0
shiboken2==5.12.1
six==1.12.0
soupsieve==1.7.3
SQLAlchemy==1.2.17
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
